<div class="navbar-container">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Accommodation Booking</span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="accountMenu" *ngIf="isUserLogged">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!isUserLogged" routerLink="/auth/login">
        <mat-icon mat-list-icon>login</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item *ngIf="isUserLogged" (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
          <a mat-list-item routerLink="/">
            <div>
              <mat-icon fontIcon="home"></mat-icon>
              <span matLine>Home</span>
            </div>
          </a>
          <a mat-list-item routerLink="/accomodation" *ngIf="userRole == 'HOST'">
            <div>
              <mat-icon fontIcon="bed"></mat-icon>
              <span matLine>My Accomodations</span>
            </div>
          </a>
          <a mat-list-item routerLink="/profile" *ngIf="userRole == 'HOST' || userRole == 'GUEST'">
            <div>
              <mat-icon fontIcon="perm_identity"></mat-icon>
              <span matLine>Profile</span>
            </div>
          </a>
          <a mat-list-item routerLink="/requests" *ngIf="userRole == 'HOST' || userRole == 'GUEST'">
            <div>
              <mat-icon fontIcon="list_alt"></mat-icon>
              <span matLine>Requests</span>
            </div>
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>