<mat-card>
    <form (ngSubmit)="createFlight()">
        <mat-card-header>
            <mat-card-title>Create new flight</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Destination</mat-label>
                <input matInput type="text" required [(ngModel)]="flight.destination" name="destination">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Departure time:</mat-label>
                <input matInput type="datetime-local" required [(ngModel)]="flight.departureTime" name="departureTime">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Landing time:</mat-label>
                <input matInput type="datetime-local" required [(ngModel)]="flight.landingTime" name="landingTime">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Origin</mat-label>
                <input matInput type="text" required [(ngModel)]="flight.origin" name="origin">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ticket price</mat-label>
                <input matInput type="number" required [(ngModel)]="flight.ticketPrice" name="ticketPrice">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Amount of available tickets</mat-label>
                <input matInput type="number" required [(ngModel)]="flight.numOfAvailableTickets" name="numOfAvailableTickets">
            </mat-form-field>
            <button type="button" mat-raised-button (click)="fileInput.click()" color="primary">Choose image</button>
            <input hidden (change)="handleUpload($event)" #fileInput type="file" id="file">
            <mat-card-actions>
                <button mat-raised-button type="submit" color="primary">Create</button>
            </mat-card-actions>
        </mat-card-content>
    </form>
</mat-card>