<div class="navbar-container">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Flight Booking</span>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/api-key"  *ngIf="isUserLogged && userRole == 'USER'">
      API
    </button>
    <button mat-icon-button [matMenuTriggerFor]="accountMenu" *ngIf="isUserLogged">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!isUserLogged" routerLink="/auth/login">
      <mat-icon mat-list-icon>login</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item *ngIf="isUserLogged" (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/">
          <div>
            <mat-icon fontIcon="home"></mat-icon>
            <span matLine>Home</span>
          </div>
        </a>
        <a mat-list-item (click)="getFlights()" *ngIf="userRole == 'ADMIN'">
          <div>
            <mat-icon fontIcon="airplanemode_active"></mat-icon>
            <span matLine>Flights</span>
          </div>
        </a>
        <a mat-list-item (click)="getMyFlights()" *ngIf="userRole == 'USER'">
          <div>
            <mat-icon fontIcon="airplanemode_active"></mat-icon>
            <span matLine>My Flights</span>
          </div>
        </a>
        <a mat-list-item routerLink="/flights/create" *ngIf="userRole == 'ADMIN'">
          <div>
            <mat-icon fontIcon="add_circle_outline"></mat-icon>
            <span matLine>Create flights</span>
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>