<div class="container">
    <div class="search-query">
        <form (ngSubmit)="search()">
            <mat-form-field>
                <mat-label>Location</mat-label>
                <input matInput type="text" [(ngModel)]="searchQuery.location" name="location">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Number of guests</mat-label>
                <input matInput type="number" [(ngModel)]="searchQuery.numOfGuests" name="numGuests">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" [(ngModel)]="searchQuery.start" name="startDate">
                  <input matEndDate placeholder="End date" [(ngModel)]="searchQuery.end" name="endDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Search</button>
        </form>
    </div>
    <div class="filters">
        <form (ngSubmit)="search()">
            <mat-form-field>
                <mat-label>Min price</mat-label>
                <input matInput type="number" [(ngModel)]="searchQuery.filterArgs.minPrice" name="minPrice">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Max price</mat-label>
                <input matInput type="number" [(ngModel)]="searchQuery.filterArgs.maxPrice" name="maxPrice">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <label class="user-type-margin">Benefits*:</label>
                <mat-select [(ngModel)]="searchQuery.filterArgs.benefits" name="benefits" multiple>
                <mat-option *ngFor="let benefit of benefits" [value]="benefit.id">{{benefit.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Apply</button>
            <button mat-raised-button type="reset">Reset</button>
        </form>
    </div>
    <div class="search-result">
        <div class="accommodation" *ngFor="let accommodation of accommodations">
            <img [src]="accommodation.photo">
            <div class="general-info">
                <h2 (click)="openAccommodationDisplay(accommodation.id)">{{accommodation.name}}</h2>
                <span class="icon-text-align location">
                    <mat-icon color="primary">location_on</mat-icon>
                    {{accommodation.location.street + ' ' + accommodation.location.number + ', ' + accommodation.location.city + ' ' + accommodation.location.country}}
                </span>
            </div>
            <mat-divider vertical></mat-divider>
            <div class="reservation">
                <h3>{{numOfNights}} nights, {{searchQuery.numOfGuests}} guests</h3>
                <div class="price">
                    <span class="icon-text-align">
                        <mat-icon>euro</mat-icon>
                        <b>{{accommodation.price}}</b>
                    </span>
                </div>
                <button mat-raised-button color="primary" *ngIf="userRole == 'GUEST'" (click)="createRequest(accommodation.id, accommodation.price)">Reserve</button>
                <div class="accommodation-info">
                    <div class="avg-grade">  
                        <span *ngIf="accommodation.isHostProminent">Prominent host: &nbsp;</span>
                        <mat-icon *ngIf="accommodation.isHostProminent" class="logo">star</mat-icon><br>
                        Host rating: &nbsp;{{accommodation.avgHostGrade}}<br>
                        Accommodation rating: &nbsp;{{accommodation.avgAccommGrade}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recommended-accommodations" *ngIf="isUserLogged">
        <app-recommendations></app-recommendations>
    </div>
</div>
