
<div class="container">
    <h1>{{accommodation.name}}</h1>
    <span class="icon-text-align location">
        <mat-icon color="primary">location_on</mat-icon>
        {{accommodation.location.street + ' ' + accommodation.location.number + ', ' + accommodation.location.city + ' ' + accommodation.location.country}}
    </span>
    <div class="description">
        {{accommodation.description}}
    </div>
    <div class="benefits">
        <h4>Benefits: {{getBenefitNames()}}</h4>
    </div>
    <div class="photos">
        <img *ngFor="let photo of accommodation.photos" [src]="photo.url">
    </div>
</div>